/*Typography*/
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/*Valores generales*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
    background-image: url(img/fondob.jpg) ;
}
/*Home header*/
.hcabecera{
    background-color: #5E7AA5;
}
/*fondos nav*/
.fondo{
    background-color: #90b0e0;
}
.fondo2{
    background-color: #c8deff;
}
/*Fondo contenido*/
.contenido{
    background-color: whitesmoke;
}
/*Espaciado de contenido*/
.altura{
    padding-top: 8px;
    padding-bottom: 10px;
}
/*Altura de los productos*/
.contenido .altura .card-img-top{
    height: 450px;
}
.contenido .altura a{
    text-decoration: none;
}
/*btn filtrado*/
.altura .filtros .btn{
    background-color: #5E7AA5;
    margin-left: 15px;
    max-height: 40px;
    max-width: 110px;
    border-radius: 5px;
}
@media screen and (max-width: 480px){
    div .c1, .c2{
        text-align: center;
    }
    .oculto{
        text-align: center;
    }
    .editado{
        display: none;
    }
    .editado2{
        display: none;
    }
    .perfil33{
        margin-left: 150px;
    }
}
@media screen and (max-width: 1024px){
    .card-body{
        text-align: center;
    }
    .editado{
        max-width: 80px;
    }
    .hcabecera{
        display: flex;
        justify-content: center;
    }
}
